.projects {
  padding: 40px 20px;
  background-color: #f8f9fa;
}

.projects-heading {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 30px;
  color: #333;
  font-weight: bold;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Space between cards */
  justify-content: center;
}

@keyframes slideUp {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
